{% extends "index.html" %}

{% block content %}
 <h1>Przewalutowanie</h1>

<form action="/calculator" method="POST" id="">
    <label for=""rates">Wybierz walutę</label>
    <select name="rates">
        {% for x in rates %}
            <option value="{{ x['ask']}}">{{ x['code'] }}</option>
        {% endfor %}
    </select>
    <label for="amount">Wpisz kwotę, którą chcesz wymienić</label>
    <input type="number" name="amount" min="1" step="0.01">
    <button type="submit">Oblicz koszt</button>
    <br>
</form>
{% endblock %}

